<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Food App Landing Page</title>
      <meta name="description" content="Homefood at your place without Cooking">
      <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
         
     <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="stylesheets/skeleton.css">
     <link rel="stylesheet" href="stylesheets/normalize.css">
     <link rel="stylesheet" href="stylesheets/main.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
          
    </head>
    <body>
        <!-- main body container -->

                    <h1>Food App</h1>

                    <button class="login-btn">  
                        <a href="customer-login"> Customer Login </a>
                    </button>                

                    <button class="login-btn">  
                        <a href="vendor-login"> Vendor Login </a>
                    </button>                

                    <button class="login-btn">  
                        <a href="allvendors"> Our Vendors </a>
                    </button>                




                <p class="main-para"> Eat homemade dishes at your place without cooking.
                <br>How?<br>
                Choose our vendors.</p>
        <!-- main body container -->

    </body>

</html>
