<!DOCTYPE html>
<html>
  <head>
    <title>Your Dashboard!</title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">




  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
    <h2>Welcome to your dashboard <%= theVendorFound.name %>:)</h2>
    </nav>

    <!-- FLEXBOX LAYOUT -->
    <div class="wrapper">

      <div class="main-flex-parent">
        <div class="left-col main-flex-child">
          <div class="info-box">
              ABOUT ME
          </div>
        </div>
        <div class="right-col main-flex-child">
        2

        </div>
      </div>

     </div> 
  </body>
</html>
