<!DOCTYPE html>
<html>
  <head>
    <title>foodApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>THE DASHBOARD!!!</h2>
    <h3>Welcome <%= username %> :)!</h3>
    <h4>Nice to see you again!</h4>
    <h4>is this the latest version? <%= theVendorFound.name  %></h4>
  </body>
  </body>
</html>