<!DOCTYPE html>
<html>
  <head>
    <title>Your Dashboard!</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">




  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
    <h2>Welcome to your dashboard <%= theVendorFound.name %>:)</h2>
    </nav>

    <!-- FLEXBOX LAYOUT -->
    <div class="wrapper">
      <div class="main-flex-parent">

        <div class="about main-flex-child">
          <div class="info-box">
              ABOUT ME
          </div>
        </div>

        <div class="orders main-flex-child">
        

        </div>

        <div class="menu main-flex-child">
          <h3 class="black-text">On your menu today:</h3>

          </div>
              <a class="new-button" href="newdish">New Dish</a>
              <br>
          </div>

          <ul><% theVendorFound.menu.forEach((element) =>{ %>
            <li><%= element.dishName %> | Qty: <%= element.dishQuantity %> | $ <%= element.dishPrice %></li>
            <% }); %>
          </ul>


       </div> 

      </div>
     </div>

  </body>
</html>
