<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Add a new dish</title>
      <meta name="description" content="Homefood at your place without Cooking">
      <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
         
     <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="../stylesheets/skeleton.css">
     <link rel="stylesheet" href="../stylesheets/normalize.css">
     <link rel="stylesheet" href="../stylesheets/style.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="https://fonts.googleapis.com/css?family=Nunito:300|Work+Sans:900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    
  </head>
    <body>
    
    

    <form id="form" action="/vendors/newdish" method="POST">
        <h2>add a new dish</h2>

          <label for="name">Name</label><br>
          <input type="text" name="dishName" placeholder="beautiful food:)">
          <br><br>

          <label for="quanity">Quantity</label><br>
          <input type="number" name="dishQuantity" placeholder="as much as your heart desires!">
          <br><br>

          <label for="price">Price</label><br>
          <input type="number" name="dishPrice" placeholder="worth every penny!">
          <br><br>

        <button>add to menu</button>
      </form>

    </body>
</html>
