.wrapper{

}

.navbar{
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  padding: 24px;
}

.main-flex-parent{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.main-flex-child{
}

.left-col{
  background-color: navajowhite;
  width: 70%;
}

.right-col{
  background-color: lightcoral;
  width: 25%;
}

.info-box{
  font-family: "Lato", sans-serif;
  background-color: white;
  position: relative;
  width: 90%;
  margin: 30px;
  padding: 10px;

}
