a{
  text-decoration: none;
}
ul, li{
  list-style: none;
  padding: 0;
}

.black-text{
  color: black;
}

.wrapper{
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Lato", sans-serif;


}

.navbar{
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding: 10px 24px;
}

.main-flex-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
}

.main-flex-child{
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 14px;
}



.about{
  background-color:#afe8f4;
  width: 61%;
}

.orders{
  background-color: #effafc;
  width: 32%;
  
}

.menu{
 width: 61%;
}

.info-box{

}

.new-button {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.small-button {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  padding-left: 3px;
}

.tag-button {
  color: white;
  background-color: green;
  border: 1px solid green;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.new-button:hover{
  background-color: white;
  border: 1px solid white;
}

.menu-list{
  width: 90%;
}

.menu-item{
  display: inline-block;
  width: 60%;
  padding: 5px;
  height: 20px;
  margin-bottom: 10px;
}

.edit-item{
    display: inline-block;
    float:right;
    margin-right: 5px;
}