/*
Name: Food App
Description: Index Landing Page Styling
Authors: Micaela Linda Villani & Stephanos Theodotou & Matilde Adan Ramirez
Authors URI:
Tags: 
*/

/* Fonts Used 
font-family: 'Nunito', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

html, body { 
    padding: 0;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

*:before *:after {
    box-sizing: border-box;
}

body {
    background-color: blue;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    height: 50px;
    margin-top: 0 auto;
}

h1 {
    width: 300px;
    height: 100px;
    color: white;
    margin-right: 40px;
    margin-top: 50px;
    font-size: 40px;
}

button {
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    height: 60px;
    margin-left: 60%;
    margin-top: 50px;
    width: 250px;
}

/* =================================
  Header
==================================== */
header {
  background-color: #1a1a1a;
	padding: 12px;
	height: 75px;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

#header-logo {
	display: block;
	float: left;
	margin-left: 160px;
	margin-right: 20px;
}

.page-title {
  color: #e8e8e8;
	font-size: 17px;
	letter-spacing: 0.04em;
	display: inline-block;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	padding: 18px;
}

.main-nav-bar {
	display: inline-block;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	padding: 17px;
}

.main-nav-bar li {
	display: inline-block;
	text-align: right;
	font-size: 17px;
}

.main-nav-bar a {
	font-size: 0.75em;
	margin: 0 7px;
  color: #fff;
	display: block;
}

.main-nav-bar a:hover {
	color: white;
	opacity: 0.7;
}

a {
    color: white;
    text-decoration: none;
}

button:hover {
    border: 2px solid #98D55A;
}

a:hover {
    color: #98D55A;
    text-decoration: underline #98D55A;
}

.main-img {
    width: 100%;
    height:auto;
}

.first-section {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-top: 150px;
}


