/* style.css */

/* body container */
body {
  width: 100%;
  height: 100vh;
}

html, body { padding: 0;margin: 0; height: 100%; overflow: hidden}


/* first column */
#map {
  width: 48%;
  height: 100vh;
  float: left;
}

/* second column */
#vendorsMain {
  width: 48%;
  height: 100%;
  float: left;
}

/* first row  */
.filters {
  border: 1px solid black;
  width: 95%;
  height: 20%;
  padding: 15px;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
  color: red; 
}

.cuisine-logo-container {
  height: 60%;
  margin-left: 8%;
}

.cuisine-logos {
  margin: 10px;
  position: relative;
  top: 40px;
  border-radius: 50%;
}


.healthy-cuisine {
  border: 4px solid green;
}

.italian-cuisine {
  border: 4px solid red;
}

.greek-cuisine {
  border: 4px solid blue;
}

.spanish-cuisine {
  border: 4px solid yellow;
}

.american-cuisine {
  border: 4px solid lightblue;
  }

.international-cuisine {
  border: 4px solid violet;
}
/* vendors list */
#vendorList {
  width: 100%;
  height: 78%;
  overflow-y: auto;
}

/* vendors boxes */
.vendor-results {
  width: 95%;
  height: 20%;
  border: 1px solid black;
  padding: 15px;
  transition: all 200ms ease;
}

.vendor-results.hidden {
  user-select: none;
  pointer-events: none;
  /* height: 0;
  padding: 0; */
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.vendor-img {
  float: left;
  border: 50px solid black;
  border-radius: 50%;
  height: 30px;
  width: 5%;
  margin: 20px;
}

 .vendor-description {
  float: left; 
  height: 10%;
  padding: 10px;
  width: 35%;
  margin: 20px;
} 

.get-result {
  border-radius: 4px;
  color: black;
  float: left;
  margin-top: 50px;
}