/* style.css */
#map {
  width: 50vw;
  height: 100vh;
}

.filters {
  border: 1px solid black;
  position: absolute;
  height: 250px;
  left: 54%;
  top: 2%;
  width: 43%;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  height: 100px;
  color: red; 
}

.cuisine-logos {
  position: relative;
  top: 10%;
  border: 50px solid black;
  border-radius: 50%;
  height: 120px;
  width: 170px;
  margin: 40px;
}

.vendor-results {
  border: 1px solid black;
  position: absolute;
  left: 54%;
  top: 30%;
  height: 650px;
  width: 43%;

}