<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Food App Order Confirmation Page</title>
      <meta name="description" content="Homefood at your place without Cooking">
      <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
      <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
         
     <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="stylesheets/skeleton.css">
     <link rel="stylesheet" href="stylesheets/normalize.css">
     <link rel="stylesheet" href="stylesheets/main.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="https://fonts.googleapis.com/css?family=Nunito:300|Work+Sans:900" rel="stylesheet">
          
    </head>
    <body>
        <h1>Thanks for Ordering,</h1>     
    </body>
</html>
