<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>Search Food Around You</title>
    <meta charset="utf-8">
    <meta name="description" content="Homefood at your place without Cooking">
    <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
    <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="../stylesheets/skeleton.css">
     <link rel="stylesheet" href="../stylesheets/normalize.css">
     <link rel="stylesheet" href="../stylesheets/map.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|Work+Sans:900" rel="stylesheet">
          
  </head>
  <body>
   
    <!-- show map here -->
    <div id="map"></div>

    <!-- show logo filters here  -->
    <div id="vendorsMain">
      <div class="filters"> 
      <h3>Filter with</h3>
      <div class="cuisine-logo-container">
        <a href="#" id='healthy-cuisine' class="cuisine-logos healthy-cuisine">Healthy</a>
        <a href="#" id='italian-cuisine' class="cuisine-logos italian-cuisine">Italian</a>
        <a href="#" id='greek-cuisine' class="cuisine-logos greek-cuisine">Greek</a>
        <a href="#" id='spanish-cuisine' class="cuisine-logos spanish-cuisine">Spanish</a>
        <a href="#" id='american-cuisine' class="cuisine-logos american-cuisine">American</a>
        <a href="#" id='international-cuisine' class="cuisine-logos international-cuisine">International</a>
      </div>
      </div>
  <!-- show map results here -->
      <div id="vendorList">
      </div>
     </div>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3F4iXPhuKT8_vud2rTJsVDtTkB9ACAaQ&callback=initMap"></script>
    <script src="../javascripts/map.js"> </script>
  </body>
</html>

