<!DOCTYPE html>
<html>
  <head>
    <title>Search Food Around You</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/map.css">
  </head>
  <body>
   
    <div id="map"></div>

    <div class="filters"> 
      <h2>Filter with</h2>
      <a href="#" class="cuisine-logos"> </a>
      <a href="#" class="cuisine-logos"> </a>
      <a href="#" class="cuisine-logos"> </a>
   </div>

   <div class="vendor-results">

   </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3F4iXPhuKT8_vud2rTJsVDtTkB9ACAaQ&callback=initMap"></script>
    <script src="../javascripts/map.js"> </script>
  </body>
</html>